[Unit]
Description=CMON Exporter
After=network.target

[Service]
Type=simple
User=nobody
Group=nogroup
WorkingDirectory=/var/run
Environment="CMON_USERNAME=USER"
Environment="CMON_PASSWORD=SECRET"
Environment="CMON_ENDPOINT=https://127.0.0.1:9501"
ExecStart=/usr/local/bin/cmon_exporter
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cmon_exporter
PIDFile=/var/run/cmon_exporter.pid

[Install]
WantedBy=multi-user.target

